@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Lexend', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
         'Segoe UI Symbol', 'Noto Color Emoji'; /* 'Instrument Sans' */
}

.font-lexend { font-family: 'Lexend', sans-serif; }

/* Body hanya sebagai latar belakang gelap (Bioskop) */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111; /* Warna hitam/gelap di luar area aplikasi */
    
    /* Posisikan aplikasi di tengah */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hilangkan scrollbar browser utama */
    
    font-family: "Lexend", sans-serif;
}

/* Ini Layar Utama Aplikasi Kamu */
.app-screen {
    position: relative;
    width: 100%;
    height: 100%;
    
    /* Background ditaruh DI SINI, bukan di body */
    background-image: url('/public/images/Background.svg');
    background-size: cover;    /* Cover area kotak ini saja */
    background-position: center;
    background-repeat: no-repeat;
    
    /* Agar rapi */
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    overflow-y: auto; /* Scrollbar ada DI DALAM kotak ini */
    
    /* Sembunyikan scrollbar tapi tetap bisa scroll */
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.app-screen::-webkit-scrollbar { 
    display: none; 
}

.navigation-container {
    /* position: absolute; */
    height: 11%;
    width: 100%;
    background-color: #78A44C;
    display: flex;
    justify-content: space-between;
}

.navigation-bar ul {
    list-style: none;
    display: flex; 
    margin: 0;
    padding: 0;
    gap: 30px;
    padding: 25px 30px;
}

.navigation-bar li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.growpath-logo {
    font-size: 36px;
    font-weight: 600;
    margin-top: 14px;
    margin-left: 30px;
    color: #FDFDD9;
}
#modal-habit,
#modal-tugas {
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-logout{
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-edit-username{
    background-color: rgba(0, 0, 0, 0.5);
}