@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    background-image: url('/public/images/Background.svg');
    background-size: cover;

    margin: 0;
    padding: 0;

    font-family: "Lexend", sans-serif;
}

.navigation-container {
    position: absolute;
    height: 11%;
    width: 100%;
    background-color: #8EB548;
    display: flex;
    justify-content: space-between;
}

.navigation-bar ul {
    list-style: none;
    display: flex; 
    margin: 0;
    padding: 0;
    gap: 30px;
    padding: 25px 30px;
}

.navigation-bar li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.growpath-logo {
    font-size: 36px;
    font-weight: 600;
    margin-top: 14px;
    margin-left: 30px;
    color: #FDFDD9;
}

.shop-container {
    width: 50%;
    height: 75%;
    position: absolute;
    transform: translateX(-86%);
    left: 50%;
    top: 120px;
    border-radius: 15px;
    overflow: hidden;
    flex-direction: column;
    display: flex;
}
.shop-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  flex-shrink: 0;
}
h3 {
  background-color: #5E7153;
  color: #FDFDD9;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
.shop-content {
    background-color: #FDFDD9;
    padding: 50px 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    flex: 1;
}
.shop-content p {
  text-align: justify;
  line-height: 1.9;
  letter-spacing: 0.4px;
  color: #202238;
}
.shop-content div {
  display: none;
}
.shop-content .active {
  display: block;
}
.shop-menu .active {
  background-color: #FDFDD9;
  color: #5E7153;
}

.right-side {
    width: 30%;
    height: 75%;
    position: absolute;
    /* background-color: #62f169; */
    transform: translateX(40%) translateY(0%);
    left: 50%;
    top: 120px;
    border-radius: 15px;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-row {
    display: flex;
    justify-content: space-between; /* left-right alignment */
    align-items: center;
    width: 100%;
    height : 15%;
}

.item-preview {
    flex-grow: 1;
    background-color: #FDFDD9;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    width: 90%;
}

.gold-display {
    background-color: #FDFDD9;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: bold;
    height: 70%;
    width: 40%;
}

.market {
    color: #5E7153;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.buy-button {
  background-color: #FDFDD9;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #5E7153;
  cursor: pointer;
  display: inline-block;
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 10%;
  width: 25%;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #d4f0b0;
}