h3 {
    background-color: #5E7153;
    color: #FDFDD9;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
    margin: 0;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
}