h3 {
    background-color: #5E7153;
    color: #FDFDD9;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
    margin: 0;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
}

.tab-button {
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem;
    padding-left: 1rem; 
    padding-right: 1rem;
    border-top-left-radius: 0.5rem; 
    border-top-right-radius: 0.5rem;
    font-weight: 700; 
    font-size: 1.125rem; 
    line-height: 1.75rem;
    position: relative; 
    z-index: 1; 
    cursor: pointer;
    background-color: #5E7153; 
    color: #FDFDD9; 
    border-bottom: none;
    border-width: 2px; 
    border-color: #5E7153;
}

.tab-button.tab-active {
    background-color: #FDFDD9; 
    color: #5E7153; 
    z-index: 2; 
    margin-bottom: -1px; 
}